.btn-contact{
    display: flex;
    justify-content: center;
}
.btn{
    height: 45px;
    border: 2px solid whitesmoke;
    background: none;
    color: white;
    font-weight: 400;
    border-radius: 2px;

}
.btn:hover{
    border: 2px solid whitesmoke;;
    color: #54789b;
    background: whitesmoke;
}



@media only screen and (min-width: 960px){
    
}
