.email-bar{
    background: #0f84c3;
    position: absolute;
    top: 146rem;
    width: 100%;
}


#email-bar.is-open {
    opacity: 0;
    transition: 0.5s;
}

  
.x-btn{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    color: #ffff;
}
.btn-submit{
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 7px 7px;
    margin-top: 8px;
    width: 100%;
    font-weight: 100;
    background: ​#ff8000;
}

#email{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
}
.email-header{
    font-size: 19px;
    font-weight: 600;
    margin: 0;
}

.email-desc{
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 100;
    color:#ffff;
    padding-bottom: 10px;
}
.btn-submit{
    background: #ff8000;
    padding: 0;
    height: 40px;
    border-color: #ff8000;
 }

 ::placeholder{
     color: gray;
     padding-left: 10px;
     font-size: 16px;
     opacity: .9;
 }

@media only screen and (min-width: 1024px){

    .form-email{
        display: flex;
        flex-direction: row;
    }

    #email{
        width: 300px;
        height: 37.5px;
    }
    .btn-submit{
        margin: 0;
        margin-left: 10px;
        border-radius: 5px;
        border-color: #ff8000;

    }
    .email-bar{
        width: 500px;
        height: 12em;
        position: absolute;
        top: 70rem;
    }
}
