.email-wrapper {
    background: #007bc1;
    padding: 0px 20px;
    position: absolute;
    top: 144em;
    height: 265px;
    
}

.btn-x{
    float: right;
    color: #ffffff;
}
.email-header {
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    margin-top: 20px;
    color: #ffffff;
}

.email-desc {
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 100;
    color: #ffffff;
    line-height: 22px;
}

form {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

#email-input{
    height: 20px;
    font-size: 14px;
    padding-left: 10px;
    color: grey;
}

.btn-submit{
    height: 25px;
    color: white;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    background: orange;
}

.is-open {
    height: 0;
    transition: height 0.2s ease; 
}

@media only screen and (min-width: 960px){
    .email-wrapper{
        top: 71em;
        width: 500px;
        height: 200px;
    }
    .is-open {
        height: 0;
        overflow: hidden;
        transition: 0.5s;
    }

    form{
        flex-direction: row;
    }
    .btn-submit{
        margin: 0;
        height: 26.5px;
        margin-left: 10px;
    }
    #email-input {
        width: 360px;
    }
}
