.email-wrapper {
    background: #007bc1;
    padding: 0px 20px;
    height: 277px;
}

#email{
    position: absolute;
    bottom: -110em;
}

.btn-x{
    float: right;
    color: #ffffff;
}
.email-header {
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    margin-top: 20px;
    color: #ffffff;
}

.email-desc {
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 100;
    color: #ffffff;
    line-height: 22px;
}

form {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

#email-input{
    height: 20px;
    font-size: 14px;
    padding-left: 10px;
    color: grey;
}

.btn-submit{
    height: 25px;
    color: white;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    background: orange;
}

.open {
    /* opacity: 0; */
    height: 0;
    transition: 0.4s ease-in; 
    overflow: hidden;
}

@media only screen and (min-width: 960px){
    .email-wrapper{
        width: 500px;
        height: 200px;
        position: relative;
    }
    #email{
        position: absolute;
        bottom: -30px;
    }

    .open {
        height: 0;
        transition: 0.4s ease-in; 
        overflow: hidden;
    }

    form{
        flex-direction: row;
    }
    .btn-submit{
        margin: 0;
        height: 26.5px;
        margin-left: 10px;
    }
    #email-input {
        width: 360px;
    }
}

@media only screen and (min-width: 1025px){
    #email{
        position: absolute;
        bottom: -40em;
    }

}
