.notif-desc{
    font-size: 12px;
    font-weight: 100;
    color: black;
    font-weight: 400;
    line-height: 1.4em;
    padding: 10px 20px 0px;
    
}

.notif-desc p{
    margin: 0;
}
.notif-desc a{
    color: blue;
    text-decoration: none;
}

.is-open{
    height: 0%;
    overflow: hidden;
    transition: 0.5s;
}


.notif-container{
    background: #fff;
    justify-content: center;
    height: 90px;
    position: fixed;
}

.btn-notif{
    background: #017cb8;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

.btn-container{
    padding-left: 20px;
    padding-top: 0;
}




@media only screen and (min-width: 960px){
    .notif-container{
        display: flex;
        background: #fff;
        flex-direction: row;
        justify-content: center;
        padding: 0 200px;
        position: fixed;
        height: 50px;
    }
    .is-open, .is-open > div {
        height: 0%;
        overflow: hidden;
        transition: 0.5s;
    }
    .btn-notif{
        height: 36px;
        width: 80px;
        margin: 0;
        margin-top: 8px;
        font-size: 19px;
    }
}
